@model IndividualAssignment_MVC5.Models.user

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Home/LayoutDashboard.cshtml";
}


<div class="page-header">
    <div class="row">

        <div class="col-md-6 col-sm-12">
            <div class="title">
                <h4>Student - View</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">

                        <li class="breadcrumb-item"><a href="@Url.Action("DashboardCommittee", "Home")">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "students")">Students List</a></li>
                    

                    <li class="breadcrumb-item active" aria-current="page">
                        View Student - <span>@Html.DisplayFor(model => model.user_firstname) @Html.DisplayFor(model => model.user_lastname)</span>

                    </li>
                </ol>
            </nav>
        </div>

        <div class="col-md-6 col-sm-12 text-right">
            <div class="dropdown">
                <a class="btn btn-primary" href="@Url.Action("Create", "students")" role="button">
                    Create Student
                </a>
            </div>
        </div>
    </div>
</div>

<!-- basic table  Start -->
<div class="pd-20 card-box mb-30">

    <div class="clearfix mb-20">
        <div class="pull-left">
            <h4 class="text-blue h4">Students Credentials</h4>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Variable</th>
                <th scope="col">Content</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Student Username</th>
                <td>@Html.DisplayFor(model => model.user_name)</td>
            </tr>
            <tr>
                <th scope="row">Student Email</th>
                <td>@Html.DisplayFor(model => model.user_email)</td>
            </tr>
            <tr>
                <th scope="row">Student Name</th>
                <td>@Html.DisplayFor(model => model.user_firstname) @Html.DisplayFor(model => model.user_lastname)</td>
            </tr>
            <tr>
                <th scope="row">Student Faculty</th>
                <td>@Html.DisplayFor(model => model.students.First().stu_faculty)</td>
            </tr>

            <tr>
                <th scope="row">Student School</th>
                <td>@Html.DisplayFor(model => model.students.First().stu_school)</td>
            </tr>

            <tr>
                <th scope="row">Student Academic Programme</th>
                <td>@Html.DisplayFor(model => model.students.First().programme.prog_name)</td>
            </tr>

            @if (Model.students.First().stu_status_done_sup == 1)
            {
                <tr>
                    <th scope="row">Student's Assigned Supervisor</th>
                    <td>
                        @Html.DisplayFor(model => model.students.First().lecturer2.user.user_firstname) @Html.DisplayFor(model => model.students.First().lecturer2.user.user_lastname) (@Html.DisplayFor(model => model.students.First().lecturer2.user.user_name))
                    </td>
                </tr>

                <tr>
                    <th scope="row">Student's Preffered Supervisor</th>
                    <td>
                        @Html.DisplayFor(model => model.students.First().lecturer3.user.user_firstname) @Html.DisplayFor(model => model.students.First().lecturer3.user.user_lastname) (@Html.DisplayFor(model => model.students.First().lecturer3.user.user_name))
                    </td>
                </tr>

                if (Model.students.First().stu_evaluator1 != null)
                {
                    <tr>
                        <th scope="row">Student's Evaluator 1</th>
                        <td>
                            @Html.DisplayFor(model => model.students.First().lecturer.user.user_firstname) @Html.DisplayFor(model => model.students.First().lecturer.user.user_lastname) (@Html.DisplayFor(model => model.students.First().lecturer.user.user_name))
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Student's Evaluator 2</th>
                        <td>
                            @Html.DisplayFor(model => model.students.First().lecturer2.user.user_firstname) @Html.DisplayFor(model => model.students.First().lecturer2.user.user_lastname) (@Html.DisplayFor(model => model.students.First().lecturer2.user.user_name))
                        </td>
                    </tr>
                }

            }

            @if (Model.students.First().stu_status_done_sup != 1)
            {
                <tr>
                    <th scope="row">Student's Preffered Supervisor</th>
                    <td>
                        @Html.DisplayFor(model => model.students.First().lecturer3.user.user_firstname) @Html.DisplayFor(model => model.students.First().lecturer3.user.user_lastname) (@Html.DisplayFor(model => model.students.First().lecturer3.user.user_name))
                    </td>
                </tr>
            }

        </tbody>
    </table>

    <div class="card card-box text-center">
        <div class="card-body">
            <h5 class="card-title">Actions :</h5>
            <p class="card-text">Choose Carefully :P</p>

                @Html.ActionLink("Edit this Student", "Edit", new { id = Model.user_id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Back to List", "Index", new { id = Model.user_id }, new { @class = "btn btn-primary" })
            

        </div>
    </div>


</div>
