@model IEnumerable<IndividualAssignment_MVC5.Models.user>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/LayoutDashboard.cshtml";
}

<div class="page-header">
    <div class="row">

        <div class="col-md-6 col-sm-12">
            <div class="title">
                <h4>Students - List</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("DashboardCommittee", "Home")">Home</a></li>
                    <li class="breadcrumb-item">Manage Students</li>
                    <li class="breadcrumb-item active" aria-current="page">Students</li>
                </ol>
            </nav>
        </div>
    </div>
</div>


<div class="pd-20 card-box mb-30">
    <div class="clearfix mb-20">
        <div class="pull-left">
            <h4 class="text-blue h4">Students</h4>
            <p>Students registered to the <code>.system</code> :P</p>
        </div>
        <div class="pull-right">
            <a href="@Url.Action("Create", "students")" class="btn btn-primary btn-sm scroll-click" role="button">
                <i class="icon-copy fa fa-user"></i> Create Student
            </a>
        </div>
    </div>
    <div class="pb-20">
        <table class="table">
            <thead>
                <tr>
                    <th class="table-plus datatable-nosort">Student Username</th>
                    <th>Name</th>
                    <th>Faculty</th>
                    <th>School</th>
                    <th>Supervisor Status</th>
                    <th>Evaluater Status</th>
                    <th class="datatable-nosort">Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    if (item.students.Any())
                    {

                        <tr>
                            <td class="table-plus">
                                <span>@Html.DisplayFor(modelItem => item.user_name)</span>
                            </td>

                            <td>@Html.DisplayFor(modelItem => item.user_firstname) @Html.DisplayFor(modelItem => item.user_lastname)</td>
                            <td>@Html.DisplayFor(modelItem => item.students.First().stu_faculty)</td>
                            <td>@Html.DisplayFor(modelItem => item.students.First().stu_school)</td>

                            @if (item.students.First().stu_status_done_sup == 0)
                            {
                                <td><span class="badge badge-warning">Pending Supervisor</span></td>
                            }
                            @if (item.students.First().stu_status_done_sup == 1)
                            {
                                <td><span class="badge badge-success">Assigned Supervisor</span></td>
                            }

                            @if (item.students.First().stu_evaluator1 == null)
                            {
                                <td><span class="badge badge-warning">Pending Evaluators</span></td>
                            }
                            @if (item.students.First().stu_evaluator1 != null)
                            {
                                <td><span class="badge badge-success">Assigned Evaluators</span></td>
                            }

                            <td>
                                <div class="dropdown">
                                    <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                        <i class="dw dw-more"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                        <a class="dropdown-item" href="@Url.Action("Details", "students", new { id = item.user_id })">
                                            <i class="dw dw-eye"></i> View
                                        </a>
                                        <a class="dropdown-item" href="@Url.Action("Edit", "students", new { id = item.user_id })">
                                            <i class="dw dw-edit2"></i> Edit
                                        </a>

                                        @if (item.students.First().stu_status_done_sup == 1)
                                        {
                                            <a class="dropdown-item" href="@Url.Action("Evaluator", "students", new { id = item.user_id })">
                                                <i class="dw dw-pen"></i> Assign Evaluators
                                            </a>
                                        }

                                        @if (item.students.First().stu_status_done_sup != 1)
                                        {
                                            <a class="dropdown-item" href="@Url.Action("Supervisor", "students", new { id = item.user_id })">
                                                <i class="dw dw-magnifying-glass"></i> Assign Supervisor
                                            </a>
                                        }

                                        <a class="dropdown-item" href="@Url.Action("Delete", "students", new { id = item.user_id })">
                                            <i class="dw dw-delete-3"></i> Delete
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

