
@model IndividualAssignment_MVC5.Models.user

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section video" data-section="section5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <div class="left-content">
                    <h4>Watch the video to learn more <em>about life at UTM</em></h4>
                    <p>
                        <b> All credits for the video goes to <a rel="nofollow" href="https://www.youtube.com/janebujo" target="_parent">janebujo</a>.</b>
                    </p>
                    <div class="main-button"><a rel="nofollow" href="@Url.Action("Index", "Home")" target="_parent">Home Page</a></div>
                </div>
            </div>
            <div class="col-md-6">
                <article class="video-item">
                    <div class="video-caption">
                        <h4>Power HTML Template</h4>
                    </div>
                    <figure>
                        <a href="https://www.youtube.com/watch?v=GUIwXBdzeTw" class="play"><img src="~/Content/assets/src/images/video-thumb-01.jpg"></a>
                    </figure>
                </article>
            </div>
        </div>
    </div>
</section>



<section class="section contact" data-section="section6">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Forgot Password?</h2>
                </div>
            </div>
            <div class="col-md-6 form-column">


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            @Html.EditorFor(model => model.user_email, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Email", type = "email" } })
                            @Html.ValidationMessageFor(model => model.user_email, "", new { @class = "text-danger" })
                            <small>An Email to reset your password will be sent to your email address.</small>
                        </fieldset>
                    </div>

                    <div class="col-md-12">
                        <fieldset>
                            <div class="small text-success">
                                @ViewBag.Message
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-md-12">
                        <fieldset>
                            <input type="submit" value="Send Email" class="button" id="form-submit" />
                        </fieldset>
                    </div>

                </div>
                }

            </div>
            <div class="col-md-6 map-column">
                <div id="map">
                    <h4>Forgot Password Page : <em>FYP1 System</em>!</h4>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.3424442256937!2d103.635241975907!3d1.558473460867803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da7154a58c424b%3A0x8c133d77584b5ff8!2sUniversiti%20Teknologi%20Malaysia!5e0!3m2!1sen!2smy!4v1688426794117!5m2!1sen!2smy" width="100%" height="422px" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>