@model IndividualAssignment_MVC5.Models.user

@{
    ViewBag.Title = "Home Page";
    var users = ViewBag.Users as List<IndividualAssignment_MVC5.Models.user>;
}

<!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="~/Content/assets/src/images/Video-Campus.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <h2><em>UTM</em> YOUR JOURNEY STARTS HERE</h2>
            <h6>Malaysia’s Premier University in Engineering & Technology</h6>
            <div class="main-button">
                <div class="scroll-to-section"><a href="#section3">Login Now</a></div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->


<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="features-post">
                    <div class="features-content">
                        <div class="content-show">
                            <h4><i class="fa fa-pencil"></i> QS WORLD UNIVERSITY</h4>
                        </div>
                        <div class="content-hide">
                            <p>
                                <b>#44</b> - Petroleum Engineering<br />
                                <b>#74</b> - Engineering & Technology<br />
                                <b>#80</b> - Engineering & Electronic<br />
                                <b>#51</b> – #100  Engineering- Civil & Structural<br />
                                <b>#51</b> – #100  Architecture/Built Environment Engineering<br />
                                <b>#51</b> – #100  Mineral & Mining
                            </p>
                            <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
                            <div class="scroll-to-section"><a href="#section2">More Info.</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="features-post second-features">
                    <div class="features-content">
                        <div class="content-show">
                            <h4><i class="fa fa-graduation-cap"></i>Why Study at UTM?</h4>
                        </div>
                        <div class="content-hide">
                            <p>
                                <b>#39</b> in Asia
                                <br />
                                <b>#5</b> in Malaysia
                            </p>
                            <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
                            <div class="scroll-to-section"><a href="https://www.utm.my/">Official Website</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="features-post third-features">
                    <div class="features-content">
                        <div class="content-show">
                            <h4><i class="fa fa-book"></i>THE Impact Ranking</h4>
                        </div>
                        <div class="content-hide">
                            <p>
                                <b>#1</b>
                                in Malaysia for SDG9-Industry, Innovation and Infrastructure
                            </p>
                            <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
                            <div class="scroll-to-section"><a href="#section2">Read More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section why-us" data-section="section2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Programmes at UTM</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div id='tabs'>
                    <ul>
                        <li><a href='#tabs-1'>Degree Programmes</a></li>
                        <li><a href='#tabs-2'>Postgraduate Programmes</a></li>
                        <li><a href='#tabs-3'>Other Programmes</a></li>
                    </ul>
                    <section class='tabs-content'>
                        <article id='tabs-1'>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/Content/assets/src/images/choose-us-image-01.png" alt="">
                                </div>
                                <div class="col-md-6">
                                    <h4>Degree Programmes</h4>
                                    <p>Further information about the structure of our full-time bachelor’s degree programmes.</p>
                                </div>
                            </div>
                        </article>
                        <article id='tabs-2'>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/Content/assets/src/images/choose-us-image-02.png" alt="" style="max-height: 310px; ">
                                </div>
                                <div class="col-md-6">
                                    <h4>Postgraduate Programmes</h4>
                                    <p>We offer various research-related postgraduate programmes for those who have passion to go further.</p>
                                    <p>Suspendisse tincidunt, magna ut finibus rutrum, libero dolor euismod odio, nec interdum quam felis non ante.</p>
                                </div>
                            </div>
                        </article>
                        <article id='tabs-3'>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/Content/assets/src/images/choose-us-image-03.png" alt="">
                                </div>
                                <div class="col-md-6">
                                    <h4>Diploma, Executive & Part-time Programmes</h4>
                                    <p>Our UTMSpace offers broad range of diplomas, part-time degree and executive programmes.</p>
                                </div>
                            </div>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section coming-soon" data-section="section3">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-xs-12">
                <div class="continer centerIt">
                    <div>
                        <h4>Login into <em>FYP 1 System</em> and watch our users grow.</h4>
                        <div class="counter">

                            <div class="days">
                                <div class="value">@users.Count(u => u.user_type == "Committee")</div>
                                <span>Committee Members</span>
                            </div>

                            <div class="hours">
                                <div class="value">@users.Count(u => u.user_type == "Lecturer")</div>
                                <span>Lecturers</span>
                            </div>

                            <div class="minutes">
                                <div class="value">@users.Count(u => u.user_type == "Admin")</div>
                                <span>Admins</span>
                            </div>

                            <div class="seconds">
                                <div class="value">@users.Count(u => u.user_type == "Student")</div>
                                <span>Students</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="right-content">
                    <div class="top-content">
                        <h6>Login to your account and <em>get immediate</em> access to FYP 1 System by Terence</h6>
                    </div>

                    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    @Html.EditorFor(model => model.user_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Username", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.user_name, "", new { @class = "text-danger" })
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    @Html.EditorFor(model => model.user_password, new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Password", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.user_password, "", new { @class = "text-danger" })
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="button">Login</button>
                                </fieldset>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</section>