@model IndividualAssignment_MVC5.Models.lecturer

@{
    ViewBag.Title = "LecturerIndex";
    Layout = "~/Views/Home/LayoutDashboard.cshtml";
}

<div class="page-header">
    <div class="row">

        <div class="col-md-6 col-sm-12">
            <div class="title">
                <h4>Students - List</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("DashboardLecturer", "Home")">Home</a></li>
                    <li class="breadcrumb-item">View your Students</li>
                    <li class="breadcrumb-item active" aria-current="page">Students List</li>
                </ol>
            </nav>
        </div>
    </div>
</div>


<div class="pd-20 card-box mb-30">
    <div class="clearfix mb-20">
        <div class="pull-left">
            <h4 class="text-blue h4">Students</h4>
            <p>Your Students that are registered to the <code>.system</code> :P</p>
        </div>
    </div>
    <div class="pb-20">
        <table class="table">
            <thead>
                <tr>
                    <th class="table-plus datatable-nosort">Student Username</th>
                    <th>Student Name</th>
                    <th>Student Academic Programme</th>
                    <th class="datatable-nosort">Action</th>
                </tr>
            </thead>
            <tbody>

                <!--students3 is pref students 2 is not pref-->

                @foreach (var item in Model.students2)
                {

                    <tr>
                        <td class="table-plus">
                            <span>@Html.DisplayFor(modelItem => item.user.user_name)</span>
                        </td>

                        <td>@Html.DisplayFor(modelItem => item.user.user_firstname) @Html.DisplayFor(modelItem => item.user.user_lastname)</td>
                        <td>@Html.DisplayFor(modelItem => item.programme.prog_name)</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                    <i class="dw dw-more"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                    <a class="dropdown-item" href="@Url.Action("DetailsStudent", "StudentLecturer", new { id = item.user_id })">
                                        <i class="dw dw-eye"></i> View
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

