@model IndividualAssignment_MVC5.Models.student

@{
    ViewBag.Title = "Evaluate Proposal";
    Layout = "~/Views/Home/LayoutDashboard.cshtml";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/web/viewer.css">

<div class="page-header">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="title">
                <h4>@Model.user.user_firstname @Model.user.user_lastname - Evaluate Proposal Submission</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("DashboardLecturer", "Home")">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Evaluate Student's Proposal</li>
                </ol>
            </nav>
        </div>
    </div>
</div>



<div class="pd-20 card-box mb-30">

    <div class="clearfix mb-20">
        <div class="pull-left">
            <h4 class="text-blue h4">Student Credentials</h4>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Variable</th>
                <th scope="col">Content</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th scope="row">Student's Assigned Supervisor</th>
                <td>@Html.DisplayFor(model => model.lecturer2.user.user_firstname) @Html.DisplayFor(model => model.lecturer2.user.user_lastname) (@Html.DisplayFor(model => model.lecturer2.user.user_name))</td>
            </tr>

            <tr>
                <th scope="row">Your Proposal Status</th>
                @if (Model.proposals.Any())
                {

                    if (Model.proposals.First().prop_status == "Submitted")
                    {
                        <td><span class="badge badge-primary">Submitted</span></td>
                    }
                    if (Model.proposals.First().prop_status == "Accepted")
                    {
                        <td><span class="badge badge-success">Accepted</span></td>
                    }
                    if (Model.proposals.First().prop_status == "AcceptedWConditions")
                    {
                        <td><span class="badge badge-info">Accepted with Conditions</span></td>
                    }
                    if (Model.proposals.First().prop_status == "Rejected")
                    {
                        <td><span class="badge badge-danger">Rejected from Evaluator</span></td>
                    }
                    if (Model.proposals.First().prop_status == "Seen")
                    {
                        <td><span class="badge badge-secondary">Supervisor Seen &amp; Commented</span></td>
                    }
                    if (Model.proposals.First().prop_status == "Resubmitted")
                    {
                        <td><span class="badge badge-secondary">Resubmitted</span></td>
                    }

                }
                else
                {
                    <td><span class="badge badge-warning">Not Submitted</span></td>
                }
            </tr>


            <tr>
                <th scope="row">Evaluated Students First Evaluator</th>
                <td>@Html.DisplayFor(model => model.lecturer1.user.user_firstname) @Html.DisplayFor(model => model.lecturer1.user.user_lastname) (@Html.DisplayFor(model => model.lecturer1.user.user_name))</td>
            </tr>

            <tr>
                <th scope="row">Evaluated Students Second Evaluator</th>
                <td>@Html.DisplayFor(model => model.lecturer.user.user_firstname) @Html.DisplayFor(model => model.lecturer.user.user_lastname) (@Html.DisplayFor(model => model.lecturer.user.user_name))</td>
            </tr>


            <tr>
                <th scope="row">View Submitted Proposal</th>
                <td>
                    <button id="showPdfButton" class="btn">
                        <span class="badge badge-primary">Click here to View</span>
                    </button>
                </td>
            </tr>




        </tbody>
    </table>

</div>


@if (Model.lecturer1.user_id == int.Parse(Session["UserID"].ToString()) || Model.lecturer.user_id == int.Parse(Session["UserID"].ToString()))
{

    <!-- basic table  Start -->
    <div class="pd-20 card-box mb-30">

        @using (Html.BeginForm("SaveStatus", "StudentLecturer", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="clearfix mb-20">
                <div class="pull-left">
                    <h4 class="text-blue h4">Select Your Verdict</h4>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.proposals.First().prop_id)
                </div>
            </div>
            <table class="table">
                <tbody>

                    <tr>
                        <th scope="row">Select a <code>.Domain</code> from below</th>
                        <td></td>
                    </tr>

                    <tr>
                        <th scope="row">Proposal Verdict</th>
                        <td>
                            @Html.DropDownListFor(model => model.proposals.First().prop_status, new SelectList(new[] { "Accepted", "Accepted With Conditions", "Rejected" }), "-- Select Your Verdict --", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.proposals.First().prop_status, "", new { @class = "text-danger" })
                        </td>
                    </tr>

                </tbody>
            </table>

            <div class="card card-box text-center">
                <div class="card-body">
                    <h5 class="card-title">Actions :</h5>
                    <p class="card-text">Choose Carefully :P</p>

                    <a class="btn btn-info" data-toggle="modal" data-target="#confirmation-modal" role="button">
                        Save
                    </a>

                </div>
            </div>

            <div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center font-18">
                            <h4 class="padding-top-30 mb-30 weight-500">

                                Are you sure you want to assign this verdict to this Proposal?

                            </h4>
                            <h5 class="mb-30 weight-500">

                                This action will change the Proposal's status.

                            </h5>
                            <div class="padding-bottom-30 row" style="max-width: 170px; margin: 0 auto;">
                                <div class="col-6">
                                    <button type="button" class="btn btn-secondary border-radius-100 btn-block confirmation-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
                                    NO
                                </div>
                                <div class="col-6">
                                    <button type="submit" value="Save" class="btn btn-primary border-radius-100 btn-block confirmation-btn">
                                        <i class="fa fa-check"></i>
                                    </button>
                                    YES
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        }

    </div>


}



@if (Model.proposals.Any())
{

    <div id="pdfContainer" class="pd-20 card-box mb-30" style="display: none; width:1000px;">
        <div class="clearfix mb-20">
            <iframe id="pdfViewer" src="@Url.Action("GetPdfProposalLect1", "StudentLecturer", new { stu_id = Model.stu_id })" width="1500px" height="1000px"></iframe>
        </div>
    </div>


}



<!--Comments Goes Here-->

@if (Model.proposals.Any())
{

    <div class="pd-20 card-box mb-30">

        <div class="clearfix mb-20">
            <div class="pull-left">
                <h4 class="text-blue h4">Comments on this Students Work</h4>
            </div>
            <div class="pull-right">
                <a href="#" class="btn btn-primary btn-sm scroll-click" role="button" onclick="refreshPage()">
                    <i class="icon-copy fa fa-refresh"></i> Refresh
                </a>
            </div>
        </div>

        <div class="chat-box">
            <div class="chat-desc customscroll">
                <ul>

                    @foreach (var item in Model.proposals.First().comments)
                    {
                        if (item.stud_id == null)
                        {
                            <li class="clearfix">
                                <span class="chat-img">
                                    <img src="~/Content/assets/vendors/images/Outgoing.jpg" alt="">
                                </span>
                                <div class="chat-body clearfix">
                                    @if (item.lecturer != null)
                                    {
                                        <div class="chat_time">@item.lecturer.user.user_firstname @item.lecturer.user.user_lastname (@item.lecturer.user.user_name) [@item.lecturer.user.user_type]</div>
                                    }
                                    <p>@item.cmt_content</p>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="clearfix admin_chat">
                                <span class="chat-img">
                                    <img src="~/Content/assets/vendors/images/Incoming.jpg" alt="">
                                </span>
                                <div class="chat-body clearfix">
                                    @if (item.student != null)
                                    {
                                        <div class="chat_time">@item.student.user.user_firstname @item.student.user.user_lastname (@item.student.user.user_name) [@item.student.user.user_type]</div>
                                    }
                                    <p>@item.cmt_content</p>
                                </div>
                            </li>
                        }
                    }

                </ul>
            </div>

        </div>
        <div class="chat-footer">
            @using (Html.BeginForm("SaveComment", "StudentLecturer", FormMethod.Post))
            {

                @Html.HiddenFor(model => model.proposals.First().prop_id)

                <div class="chat_text_area">
                    <textarea name="commentText" placeholder="Type your comment here…"></textarea>
                </div>
                <div class="chat_send">
                    <button class="btn btn-link" type="submit"><i class="icon-copy ion-paper-airplane"></i></button>
                </div>

            }
        </div>
    </div>


}



<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.js"></script>

@section scripts {
    <script>
        document.getElementById("showPdfButton").addEventListener("click", function () {
            var pdfContainer = document.getElementById("pdfContainer");
            if (pdfContainer.style.display === "none") {
                pdfContainer.style.display = "table-row";
            } else {
                pdfContainer.style.display = "none";
            }
        });
    </script>


    <script>

        function refreshPage() {
            location.reload(true);
        }

    </script>


}